
.myHeading {
  color: #fff;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: medium;
}

.navTabs md-tab-content {
  /*background-color: white;*/
  padding: 15px;
}
  .navTabs md-tab-content:nth-child(1) {
  /*background-color: #fff;*/
 }
  .navTabs md-tab-content:nth-child(2) {
    /*background-color: #9E9E9E;*/
  }
  .navTabs md-tab-content:nth-child(3) {
    /*background-color: #fff;*/
  }



  .c-hamburger--htla{
    background-color: #32dc64;
  }
  .c-hamburger--htla span {
    transition: transform 0.3s;
  }
  .c-hamburger--htla span::before {
    transform-origin: top right;
    transition: transform 0.3s, width 0.3s, top 0.3s;
  }
  .c-hamburger--htla span::after {
    transform-origin: bottom right;
    transition: transform 0.3s, width 0.3s, bottom 0.3s;
  }

  /* active state == menu open */
  .c-hamburger--htla.is-active {
    background-color: #18903c;
  }

  .c-hamburger--htla.is-active span {
    transform: rotate(180deg);
  }

  .c-hamburger--htla.is-active span::before,
  .c-hamburger--htla.is-active span::after {
    width: 50%;
  }

  .c-hamburger--htla.is-active span::before {
    top: 0;
    transform: translateX(38px) translateY(4px) rotate(45deg);
  }

  .c-hamburger--htla.is-active span::after {
    bottom: 0;
    transform: translateX(38px) translateY(-4px) rotate(-45deg);
  }

  .c-hamburger{
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 96px;
    height: 96px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
  }
  .c-hamburger:focus{
    outline: none;
  }
  .c-hamburger span{
    display: block;
    position: absolute;
    top: 44px;
    left: 18px;
    right: 18px;
    height: 8px;
    background: white;
  }
  .c-hamburger span::before,
  .c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #fff;
    content: "";
  }
  .c-hamburger span::before {
    top: -20px;
  }
  .c-hamburger span::after {
    bottom: -20px;
  }

/*
.tabsdemoStaticTabs .after-tabs-area > span {
  margin-top: 25px;
  padding-right: 15px;
  vertical-align: middle;
  line-height: 30px;
  height: 35px; }

.tabsdemoStaticTabs .after-tabs-area > md-checkbox {
  margin-top: 26px;
  margin-left: 0; }
*/

/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
*/
