footer {
  background-color: #ccc;
}

.myHeading {
  color: #fff;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: medium;
}

.tabsdemoStaticTabs md-tab-content {
  background-color: white;
  padding: 35px;
}
  .tabsdemoStaticTabs md-tab-content:nth-child(1) {
    background-color: #fff; }
  .tabsdemoStaticTabs md-tab-content:nth-child(2) {
    background-color: #9E9E9E;
  }
  .tabsdemoStaticTabs md-tab-content:nth-child(3) {
    background-color: #fff;
  }
/*
.tabsdemoStaticTabs .after-tabs-area > span {
  margin-top: 25px;
  padding-right: 15px;
  vertical-align: middle;
  line-height: 30px;
  height: 35px; }

.tabsdemoStaticTabs .after-tabs-area > md-checkbox {
  margin-top: 26px;
  margin-left: 0; }
*/

/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
*/
