<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Bryce Hairabedian Software Engineer</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel='stylesheet prefetch' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css'>
  <link rel='stylesheet prefetch' href='https://material.angularjs.org/1.1.1/docs.css'>
  <link rel="stylesheet" href="css/style.css">

</head>

<body>
<div ng-controller="AppCtrl" ng-app="MyApp">
  <!--Hamburger menu / sidenav -->
                <md-sidenav class="md-sidenav-left ng-isolate-scope _md md-whiteframe-4dp" md-component-id="left" md-disable-backdrop="" md-whiteframe="4" tabindex="-1">

                      <md-toolbar class="md-theme-indigo _md _md-toolbar-transitions">
                        <!-- hamburger button
                            <button class="c-hamburger c-hamburger--htla">
                            <span>toggle menu</span>
                          </button>
                          -->

                        <h1 class="md-toolbar-tools">Disabled Backdrop</h1>
                      </md-toolbar>

                      <md-content layout-margin="" class="layout-margin _md">
                        <p>
                          This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
                        </p>
                        <button class="md-accent md-button md-ink-ripple" type="button" ng-transclude="" ng-click="toggleLeft()"><span class="ng-scope">
                          Close
                        </span><div class="md-ripple-container"></div></button>
                      </md-content>
                </md-sidenav>
  <!-- end hamburger menu -->

  <!-- toolbar -->
  <md-toolbar class="md-hue-2 _md _md-toolbar-transitions">

       <div class="md-toolbar-tools">
         <md-button class="md-icon-button" aria-label="Settings">
           <md-icon md-svg-icon="img/icons/menu.svg" ng-click="toggleLeft()"></md-icon>
         </md-button>
         <h2>
           <span class="myHeading">Bryce Hairabedian</span>
         </h2>
         <span flex class="flex"></span>
         <div>
           <md-button class="md-raised"><!--ng-click="toggleLeft()"> -->
             Contact
           </md-button>
         </div>
       </div>
     </md-toolbar>
   <!-- end toolbar-->

<!-- navbar/ md-tabs -->
  <div ng-cloak="" class="tabsdemoStaticTabs">
<!--  <md-content class="md-padding"> -->
    <md-tabs md-dynamic-height md-swipe-content md-center-tabs="true" md-stretch-tabs="auto" md-selected="data.selectedIndex" md-align-tabs="top">
      <md-tab id="tab1">
        <md-tab-label>About</md-tab-label>
        <md-tab-body>
          <div layout="row" layout-sm="column" layout-align="center center">
            <div align="center">


              <md-content class="md-padding">
                  <img src="images/myFace.jpg">
                <h1>Bryce Hairabedian</h1>
                <br>
                <h2>Software Engineer</h2>
                <br>



                <p>
                  I am passionate backend and front end developer. Graduate with a B.S. in Computer Science.
                  <br> I strive for beauty in everyting I do. Creating with the user in mind.
                  <br>Click on portfolio at the top for apps I've created and projects I've worked on.
                </p>
                <md-card-actions layout="row" layout-align="center">
                  <md-button class="md-icon-button" aria-label="Favorite">
                    <img src="images/gitHub_32px.png">
                  </md-button>
                  <md-button class="md-icon-button" aria-label="Favorite">
                    <img src="images/in_icon.png">
                  </md-button>
                </md-card-actions>
              </md-content>
            </div>
          </div><!--end landing page div -->
        </md-tab-body>
      </md-tab>
<!-- Portfolio Tab 2 ___________________________________________________ -->
      <md-tab id="tab2">
        <md-tab-label>Portfolio</md-tab-label>
        <md-tab-body>
<!--start new -->
<md-content class="md-padding _md layout-xs-column layout-row" layout-xs="column" layout="row">

  <!-- left column -->
    <div flex-xs="" flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50">
      <md-card ng-repeat="card in portfolios_left"><!-- flex="40" flex-sm="80" -->
      <!--Card Title -->
        <md-card-title style="background-color:{{card.color}};">
          <md-card-title-text>
            <span class="md-headline" style="color:white;">
              {{card.title}}
            </span>
          </md-card-title-text>
      <!-- Card Image -->
          <md-card-title-media>
            <div class="md-media card-media">
              <img ng-src="{{card.imagePath}}" class="md-card-image" alt="{{card.alt}}">
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-content class="md-padding">
      <!-- Card description -->
          <p>
            {{card.description}}
          <br>
          <br>
      <!-- Card Skills -->
            {{card.skills}}
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Share">
            <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card><!-- end card in portfolios -->
    </div><!--end left column-->

  <!--start right column-->
    <div flex-xs="" flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50">
      <md-card ng-repeat="card in portfolios_right"><!-- flex="40" flex-sm="80" -->
      <!--Card Title -->
        <md-card-title style="background-color:{{card.color}};">
          <md-card-title-text>
            <span class="md-headline" style="color:white;">
              {{card.title}}
            </span>
          </md-card-title-text>
      <!-- Card Image -->
          <md-card-title-media>
            <div class="md-media card-media">
              <img ng-src="{{card.imagePath}}" class="md-card-image" alt="{{card.alt}}">
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-content class="md-padding">
      <!-- Card description -->
          <p>
            {{card.description}}
          <br>
          <br>
      <!-- Card Skills -->
            {{card.skills}}
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Share">
            <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card><!-- end card in portfolios -->
    </div><!--end right column-->
<!-- end new -->
<!-- *end card**************** -->
        </md-tab-body>
      </md-tab>
<!-- Skill Tab____________________________________________ -->
      <md-tab id="tab3" ng-disabled="data.secondLocked">
        <md-tab-label>Skills</md-tab-label>
        <md-tab-body>
          <div class="md-padding" layout="column" layout-wrap>
            <md-list>
              <!-- item 1 -->
              <md-item>
                <md-item-content>
                  <span class="md-title">Methodologies</span>
                </md-item-content>
                <div class="md-padding" layout="row" layout-sm="column">
                  <md-card ng-repeat="card in methods">
                    <md-card-content>
                      {{card.method}}
                    </md-card-content>
                  </md-card>
                </div>
              </md-item><!-- end item 1-->
              <md-item>
                <md-item-content>
                  <span class="md-title">Languages</span>
                </md-item-content>
                <div class="md-padding" layout="row" layout-sm="column">
                  <md-card ng-repeat="card in languages">
                    <md-card-content>
                      {{card.lang}}
                    </md-card-content>
                  </md-card>
                </div>
              </md-item><!-- end item 2-->
              <md-item>
                <md-item-content>
                  <span class="md-title">Testing Tools</span>
                </md-item-content>
                <div class="md-padding" layout="row" layout-sm="column">
                  <md-card ng-repeat="card in tools">
                    <md-card-content>
                      {{card.tool}}
                    </md-card-content>
                  </md-card>
                </div>
              </md-item><!-- end item 3-->
            </md-list>
          </div>
        </md-tab-body>
      </md-tab>


    </md-tabs>
<!--  </md-content> -->
</div>
</div>
<!--
<footer>
        <div layout="row" layout-align="center center">
            <h2>My Awesome Footer</h2>
        </div>
    </footer>
-->

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
<script src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
