<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Bryce Hairabedian-Software Engineer</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel='stylesheet prefetch' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css'>
  <link rel='stylesheet prefetch' href='https://material.angularjs.org/1.1.1/docs.css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="css/style.css">
<!-- address bar color -->
<meta name="theme-color" content="#3f51b5"/>
</head>
<body>

<div ng-controller="AppCtrl" ng-app="MyApp">

  <!-- toolbar/App Header -->
  <md-toolbar class="md-primary _md _md-toolbar-transitions">

       <div class="md-toolbar-tools">

         <md-button md-ink-ripple="false" class="md-icon-button" ng-click="toggleLeft()" aria-label="Settings">
           <i class="material-icons md-36" >menu</i>
         </md-button>
         <!-- Main app header -->
           <h1>Bryce Hairabedian</h1>

         <span flex class="flex"></span>
         <div>
           <md-button hide show-gt-sm class="md-raised" ng-click="toggleLeft()">
             Contact
           </md-button>
         </div>
       </div>
     </md-toolbar>
   <!-- end toolbar-->

<!-- navbar/ md-tabs -->
  <div ng-cloak="" class="navTabs">
<!--  <md-content class="md-padding"> -->
    <md-tabs md-dynamic-height md-center-tabs="true" md-stretch-tabs="auto" md-selected="data.selectedIndex" md-align-tabs="top">
      <!-- Add to above for swippable content. Doesn't work well on all browsers.  md-swipe-content -->

<!-- About Tab 1 _____________________________________________________________ -->
      <md-tab id="tab1">
        <md-tab-label>About</md-tab-label>
        <md-tab-body>
          <div layout-gt-sm="row" layout-sm="column" layout-align="center center" layout-align-sm="center center">

            <md-content>
            <div class="profilePic" layout="column" align="center">
              <md-content>
                <img ng-src="images/profilePic_grey_wood_cir.png" alt="profile picture"/>
              </md-content>
            </div><!-- end profilePic -->
            </md-content>

          <!-- Profile Text -->
          <md-content>
            <div class="profileText" layout="column" layout-align="center start" layout-align-sm="start center">
              <h1>Bryce Hairabedian</h1>
              <h2>Software Engineer</h2>
              <p>Hello, my name is Bryce.
                <br>I am a passionate software developer, avid sports fan, &amp; novice snowboarder.
                <br>Graduating with B.S., in Computer Science this May, I am currently seeking an entry level position.
                <br>If you like my work, let me know. Connect with me on GitHub, Gmail, or LinkedIn.
              </p>
            </div>
          </md-content>

              <md-card-actions layout="row" layout-align="center">
                <md-button class="md-icon-button" aria-label="github" ng-href="https://github.com/blh22buck/" target="_blank">
                  <img ng-src="images/gitHub_32px.png"/>
                </md-button>
                <md-button class="md-icon-button" aria-label="Gmail" ng-href="mailto:Bryce.Hairabedian@gmail.com">
                  <img ng-src="images/logo_gmail_32px.png"/>
                </md-button>
                <md-button class="md-icon-button" aria-label="LinkdIn" ng-href="https://www.linkedin.com/in/bryce-hairabedian" target="_blank">
                  <img ng-src="images/in_icon.png"/>
                </md-button>
              </md-card-actions>



          </div><!-- end parent div for About tab 1 -->

        </md-tab-body>
      </md-tab>

<!-- Portfolio Tab 2 _____________________________________________________________ -->
      <md-tab id="tab2">
        <md-tab-label>Portfolio</md-tab-label>
        <md-tab-body>
          <md-content class="_md layout-xs-column layout-row" layout-xs="column" layout="row">
            <!-- left column -->
              <div flex-xs="" flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50">
                <md-card ng-repeat="card in portfolios_left"><!-- flex="40" flex-sm="80" -->
                <!--Card Title -->
                  <md-card-title class="{{card.header_class}}">
                    <md-card-title-text>
                      <span class="md-headline" style="color:white;">
                        {{card.title}}
                      </span>
                    </md-card-title-text>
                <!-- Card Image -->
                    <md-card-title-media>
                      <div class="md-media card-media">
                          <img ng-src="{{card.imagePath}}" class="md-card-image" alt="{{card.alt}}">
                      </div>
                    </md-card-title-media>
                  </md-card-title>
                  <md-card-content class="md-padding">
                <!-- Card description -->
                    <p>
                      {{card.description}}
                    </p>
                    <br>
                <!-- Card Skills -->
                    <div layout="row" layout-xs="column" layout-align="space-between none" >
                      <p>{{card.skills}}</p>
                <!-- links / buttons -->
                      <div layout="row" layout-align="end start" layout-align-xs="center end">

                      <md-button style="display:{{card.linkButton_display}}" class="md-accent md-button md-ink-ripple" type="button" href="{{card.linkButton_link}}" target="_blank" ><span class="ng-scope" style="color:{{card.linkButton_color}}">
                        {{card.linkButton_text}}
                      </span><div class="md-ripple-container"></div>
                      </md-button>

                      <md-button style="display:{{card.githubButton_display}}" class="md-icon-button" href="{{card.github_link}}" target="_blank" aria-label="Github">
                        <img src="images/gitHub_32px.png">
                      </md-button>

                    </div><!--end button /link section-->
                  </div><!--end bottom row of card -->
                </md-card-content>
              </md-card><!-- end card in portfolios_left -->
              </div><!--end left column-->



            <!--start portfolios right column-->
              <div flex-xs="" flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50">
                <md-card ng-repeat="card in portfolios_right">
                <!--Card Title -->
                  <md-card-title class="{{card.header_class}}">
                    <md-card-title-text>
                      <span class="md-headline" style="color:white;">
                        {{card.title}}
                      </span>
                    </md-card-title-text>
                <!-- Card Image -->
                    <md-card-title-media>
                      <div class="md-media card-media">
                        <img ng-src="{{card.imagePath}}" class="md-card-image" alt="{{card.alt}}">
                      </div>
                    </md-card-title-media>
                  </md-card-title>
                  <md-card-content class="md-padding">
                <!-- Card description -->
                    <p>
                      {{card.description}}
                    </p>
                    <br>
                <!-- Card Skills -->
                    <div layout="row" layout-xs="column" layout-align="space-between none" >
                      <p>{{card.skills}}</p>
                <!-- links / buttons -->
                    <div layout="row" layout-align="end start" layout-align-xs="center end">

                      <md-button style="display:{{card.linkButton_display}}" class="md-accent md-button md-ink-ripple" type="button" href="{{card.linkButton_link}}" target="_blank" ><span class="ng-scope" style="color:{{card.linkButton_color}}">
                        {{card.linkButton_text}}
                      </span><div class="md-ripple-container"></div>
                    </md-button>


                      <md-button style="display:{{card.githubButton_display}}" class="md-icon-button" href="{{card.github_link}}" target="_blank" aria-label="Github">
                        <img src="images/gitHub_32px.png">
                      </md-button>

                    </div><!--end button /link section-->
                  </div><!--end bottom row of card -->
                </md-card-content>
              </md-card><!-- end card in portfolios_right -->
              </div><!--end right column-->
          </md-content>
        </md-tab-body>
      </md-tab>
<!-- Skill Tab____________________________________________ -->
      <md-tab id="tab3" ng-disabled="data.secondLocked">
        <md-tab-label>Skills</md-tab-label>
        <md-tab-body align="center">
<!-- Dynamic Tiles skills -->
        <div align="center" ng-controller="AppCtrl as appCtrl">
          <md-button class="md-raised md-warn" ng-click="showAdvanced($event)">
            Skills Listed
          </md-button>

          <md-content layout-padding>
    <md-grid-list
        md-cols-gt-md="9"
        md-cols="4"
        md-cols-xs="3"
        md-row-height-gt-md="1:1" md-row-height="4:3"
        md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px">

      <md-grid-tile
          ng-repeat="tile in appCtrl.tiles"
          ng-style="{
            'background': tile.color
          }"
          md-colspan-gt-sm="{{tile.colspan}}"
          md-rowspan-gt-sm="{{tile.rowspan}}">
          <a href="" ng-click="showAdvanced($event)">
          <p flex><span class="tileText" flex>{{tile.skill}}</span></p>
          <md-grid-tile-footer hide-xs><h3>{{tile.type}}</h3></md-grid-tile-footer>
          </a>
      </md-grid-tile>

    </md-grid-list>
  </md-content>
        </div>



        </md-tab-body>
      </md-tab>


    </md-tabs>
</div>

<!--Hamburger menu / sidenav -->
            <div id="sidenav" class="hidden">
              <md-sidenav class="md-sidenav-left ng-isolate-scope _md md-whiteframe-4dp" md-component-id="left"
              md-whiteframe="4" tabindex="-1">
                    <md-toolbar class="md-primary _md _md-toolbar-transitions">
                    <div layout="row" layout-align="space-between none" class="md-toolbar-tools" style="background-color:inherit;">
                      <h1>Connect With Me</h1>
                      <md-button class="md-icon-button" ng-click="toggleLeft()" aria-label="Settings">
                        <i class="material-icons md-36" >arrow_back</i><!--md-svg-icon="img/icons/menu.svg" -->
                      </md-button>
                    </div>
                    </md-toolbar>

                  <div layout="column" layout-align="start stretch">
                <!-- colored rows for Hamburgerlinks -->
                  <!--Github sidenav -->
                  <div style="background-color:#ccc;">
                    <md-list>
                      <a href="https://github.com/blh22buck/" target="_blank">
                      <md-item>
                        <div layout="column" layout-align="center center">
                            <img class="md-media" src="images/github_195_48_2.png">
                        </div>
                      </md-item>
                    </a>
                    </md-list>
                  </div>

                  <!-- LinkedIn sidenav -->
                    <div style="background-color:#0077b5;">
                      <md-list>
                        <a  href="https://www.linkedin.com/in/bryce-hairabedian" target="_blank">
                        <md-item>
                          <div layout="column" layout-align="center center">
                            <img class="md-media" src="images/in_logo_195_48.png">
                          </div>
                        </md-item>
                      </a>
                      </md-list>
                    </div>

                    <!--Gmail sidenav -->
                    <div style="background-color:#c2272d;">
                      <md-list>
                        <a href="mailto:Bryce.Hairabedian@gmail.com" target="_blank">
                        <md-item>
                          <div layout="column" layout-align="center center">
                              <img class="md-media" src="images/gmail_195_48.png">
                          </div>
                        </md-item>
                      </a>
                      </md-list>
                    </div>


                  </div><!-- end Colored Rows for hamburger menu -->

                    <md-content layout="row" layout-align="end end" class="layout-margin _md">
                      <button class="md-button md-ink-ripple" type="button" ng-click="toggleLeft()"><span class="ng-scope">
                        Close Menu
                      </span><div class="md-ripple-container"></div>
                    </button>
                    </md-content>
              </md-sidenav>
            </div>

<!-- end hamburger menu -->


</div><!--end app-->

<!-- Footer
<footer>
        <div layout="row" layout-align="center center">
            <h2>My Awesome Footer</h2>
        </div>
</footer>
-->
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
<script src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.js'></script>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="js/index.js"></script>

</body>

</html>
