<md-dialog aria-label="Skills dialog">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Skills</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>


    <md-dialog-content>

      <div class="md-dialog-content" ng-controller="AppCtrl">
        <md-list layout-gt-xs="row" layout-xs="column" layout-align="none" flex>
          <div align="center" flex>
          <md-title><h3>Languages</h3></md-title>
          <md-list-item class="md-1-line" ng-repeat="item in languages">
            <ul>
              <li>
                {{item.lang}}
              </li>
            </ul>
          </md-list-item>
        </div>
        <div align="center" flex>
          <md-title><h3>Methodologies</h3></md-title>
          <md-list-item class="md-1-line" ng-repeat="item in methods">
            <ul>
              <li>
                {{item.method}}
              </li>
            </ul>
          </md-list-item>
        </div>
        <div align="center" flex>
          <md-title><h3>Tools</h3></md-title>
          <md-list-item class="md-1-line" ng-repeat="item in tools">
            <ul>
              <li>
                {{item.tool}}
              </li>
            </ul>
          </md-list-item>
        </div>

        </md-list>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="end center">
      <md-button class="md-button" type="button" ng-click="cancel()">
      Done
      </md-button>
      <span flex></span>
      <md-button class="md-accent md-button" type="button" ng-click="closeDialog_openSidenav()">
        <span style="color: orange;">Contact Me</span>
      </md-button>
    </md-dialog-actions>
</md-dialog>
