.imageLinks {
   padding:1px;
   border:1px solid #021a40;
}

div.hidden{
visibility: hidden;
}
.gmail-sidenav{
  background-color:#c2272d;
}
.github-sidenav{
  background-color:#ccc;
}
.linkedin-sidenav{
  background-color:#0077b5;
}
.contact-button {
  background-color: rgba(158, 158, 158, 0.2);
}
.red-dead-card-header{
  background-color: #cc0001;
}
.asi-card-header{
  background-color: #7e9f2a;
}
.asi-info-button{
  color: #7e9f2a;
}
.my-website-card-header{
    background-color: #3F51B5;
}
.mywebsite-info-button{
  color: #3F51B5;
}
.datamart-header {
	background-color: #e78b00;
}
.datamart-info-button {
	color: #e78b00;
}
.datamine-header {
	background-color: #0490e8;
}
.datamine-info-button {
	color: #0490e8;
}



.dog-catcher-card-header{
    background-color: #a15a2c;
}
.dog-catcher-info-buton{
  color: #a15a2c;
}
.gta-quickcodes-card-header{
    /*background-color: #F44336;*/
    background-color: #000;
}
.gta-quickcodes-info-button{
    color: #F44336;
}
.csus-rideshare-card-header{
    background-color: #cfb668;
}

.appTitle{
	font-size: 50pt;
}

.title-sep{
	color: #3f51b5 ;
	text-align: center;
	font-size: 35pt;
	padding-bottom: 20px;
	padding-top: 20px;
}
.profileText{
	padding: 16px;
}
.nameOnCard{
	color: #3f51b5;
}
.textOnCard{
	color: #0490e8;
}
.profilePic{
  padding: 15px;
}
.skills_tabs {
    padding: 15px;
}
.tileText{
  color: #fff;
  font-weight: bold;
  font-size: large;
}
.tileText a:link{color:white; text-decoration: none;}
.tileText a:visited{color:white; text-decoration: none;}
.tileText a:hover{color:white; text-decoration: none;}
.tileText a:active{color:white; text-decoration: none;}

.dialog-padding{
  padding: 15px;
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: orange !important;
    background-color: orange !important;
}

.navTabs md-tab-content {
  /*background-color: white;*/
  padding: 15px;
}
  .navTabs md-tab-content:nth-child(1) {
  /*background-color: #fff;*/
 }
  .navTabs md-tab-content:nth-child(2) {
    /*background-color: #9E9E9E;*/
  }
  .navTabs md-tab-content:nth-child(3) {
    /*background-color: #fff;*/
  }
